<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 ShopGo. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="set_shipping_additional_form">
        <observer name="skynet_set_shipping_additional_form" instance="ShopGo\SkyNet\Observer\SetShippingAdditionalForm"/>
    </event>
</config>
